<div class="container">
  <h2>My Favorites:</h2>
  <hr/> 
  <% current_user.restaurants.each do |restaurant| %>
    <h4><a href="/restaurants/<%=restaurant.id%>"><%= restaurant.name %></a></h4>
    <ul>
      <li><%=restaurant.address %></li>
      <li>Price range: <%=restaurant.price_range %></li>
    </ul>
    <form method="post" action="/users/favorites/delete/<%=restaurant.id%>">
      <input name="_method" type="hidden" value="delete" />
      <input class="btn-default btn" type="submit" value="Remove from Favorites">
    </form>
    <hr/>
  <% end %>
</div>





