<div class="container">
  <div class="row">
      <div class="col s6">
<<<<<<< HEAD
        <h1 class="restaurant_info"><%= @restaurant.name %></h1>
         <ul class="restaurant_info">
=======
      <% if session[:tag_error] %>
        <p style="font-weight: bold; padding-top: 1em; text-align: center; font-size: 1.2em;"><%= session[:tag_error] %></p>
      <% end %>
        <h1><%= @restaurant.name %></h1>
         <ul>
>>>>>>> origin/foodivizer102
          <li><strong>Address:</strong> <%= @restaurant.address %></li>
          <li><strong>Price range:</strong> <%= @restaurant.price_range %> </li>
        </ul>

         <% if !not_signed_in? %>
        <%if current_user.restaurants.find_by(id: @restaurant.id )%>
          <a class = "btn disabled">Favorited!</a>
        <%else%> 
          <a href="/restaurants_users/<%= @restaurant.id %>" class = "add_favorite waves-effect waves-light btn">Add to Favorites &hearts;</a></p>
        <%end%>
      <% end %>
      </div>
      <div class="map col s6">
        <iframe style="padding-top: 10%" width="400" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyACD03TDWvPWpOqhCgIDhrcWLoclX5k8qY&q=<%=@restaurant.address%>" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
<div id = "image_Display" style="float: left">
   <img src="<%=@restaurant.img_1%>" style="position: relative;z-index: 1; width: 100%; opacity:0.5; margin-top:-360px; margin-left:30px"/>
   <img src="<%=@restaurant.img_2%>" style="position: relative;z-index: 1; width: 100%; opacity:0.5; margin-top:-360px;  margin-left:30px"  />
   <img src="<%=@restaurant.img_3%>" style="position: relative;z-index: 1; width: 100%; opacity:0.5; margin-top:-360px;  margin-left:30px"/>
</div>

