<div class="container restaurantinfo" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); z-index: 2">
  <div class="row">
    <div class="col s6" style="padding-left: 2em">
      <% if session[:tag_error] %>
        <p style="font-weight: bold; padding-top: 1em; text-align: center; font-size: 1.2em;"><%= session[:tag_error] %></p>
      <% end %>
      <h1 class="restaurant_info"><%= @restaurant.name %></span></h1>
      <ul class="restaurant_info">
        <li><strong>Address:</strong> <%= @restaurant.address %></li>
        <li><strong>Price range:</strong> <%= @restaurant.price_range %> </li>
      </ul>
      <!-- if the user is currently logged in -->
      <% if current_session_user %>
        <% if user_has_restaurant?(@restaurant) %>
          <a class = "btn disabled">Favorited !</a>
          <p>
          <a href="/users/favorites" class = "add_favorite waves-effect waves-light amber lighten-4 btn" style="color: #616161"> Favorites &hearts;</a></p>
        <% else %> 
          <a href="/restaurants_users/<%= @restaurant.id %>" class = "add_favorite waves-effect waves-light amber lighten-4 btn" style="color: #616161">Add to Favorites &hearts;</a></p>
        <% end %>
      <% end %>
    </div>
    <div class="map col s6">
      <iframe style="padding-top: 10%" width="400" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyACD03TDWvPWpOqhCgIDhrcWLoclX5k8qY&q=<%=@restaurant.address%>" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<div id="slides" style="z-index:1" class="slidesbottom">
  <div class="slides-container">
    <img src="<%=@restaurant.img_1%>" style="opacity:0.5" alt="">
    <img src="<%=@restaurant.img_2%>" style="opacity:0.5" alt="">
    <img src="<%=@restaurant.img_3%>" style="opacity:0.5" alt="">
  </div>
</div>

<script>   
  $(document).ready(function() {
    $('#slides').superslides();
  });

</script>

